<h1>Products</h1>
<% @products.each do |product| %>
 <div id="product-<%= product.id %>">
    <h3 class="name"><%= product.name %></h3>
    <p class="description"><%= truncate(product.description) %></p>
    <p class="inventory"></p>
    <p class="orders"></p>
    <button onclick="showProduct(<%= product.id %>); return false">More Info</button>
  </div>
<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
     $.get("/products/" + id + ".json", function(data) {
      var product = data
      var inventoryText = "<strong>Available</strong>";
      if(inventory === "false"){
        inventoryText = "<strong>Sold Out</strong>";
    }
        var descriptionText = "<p>" + description + "</p><p>" + inventoryText + "</p>";
        $("#product-" + id).html(descriptionText);
        var orders = product["orders"]
        var orderList = ""
        orders.forEach(function(order) {
        orderList += '<li class="js-order" data-id="' + order["id"] + '">' + order["id"] + ' - ' + order["created_at"] + '</li>'
      });
    });
  });
});
</script>
