<h1>Products</h1>
<% @products.each do |product| %>
  <div id="product-<%= product.id %>">
    <h3 class="name"><%= product.name %></h3>
    <p class="description"><%= truncate(product.description) %></p>
    <p class="inventory"></p>
    <p class="orders"></p>
    <button onclick="showProduct(<%= product.id %>); return false">More Info</button>
  </div>
<% end %>



